@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* #2ad3bf */
:root {
    background-color: #7f63d2;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0%;
    padding: 2rem;
}
.container h1, p {
    font-size: 3rem;
    color:aliceblue;
    padding: 1rem;
   
}

#quiz-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container ul {
    font-size: 1.3rem;
    color:aliceblue;
    padding-bottom:1rem; 
    text-align:center;
    
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;

}

.hide {
    display: none;
}

.btn {
    font-size: 2.5rem;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:#7f63d2;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.btn:hover {
    box-shadow: 0 0.4 1.4 0 rgb(253,234,44);
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.fa-java {
    font-size: 2.5rem;
    margin-left: 1rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
}

.fa-thumbs-up {
    font-size: 2.5rem;
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    .container {
        min-width: 40rem;
    }
}

/* #start-quiz {
    display: none;
} */
